apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-app
        image: public.ecr.aws/p7m4r1k4/bonjour21:latest
        ports:
          - containerPort: 8084
        env:
          - name: SPRING_DATASOURCE_URL
            value: jdbc:mysql://mysql:3306/bonjourdb
          - name: SPRING_DATASOURCE_USERNAME
            value: user
          - name: SPRING_DATASOURCE_PASSWORD
            value: userpassword
          - name: SPRING_JPA_HIBERNATE_DDL_AUTO
            value: update
          - name: SPRING_JPA_DATABASE_PLATFORM
            value: org.hibernate.dialect.MySQLDialect
